@model IEnumerable<QTPayWithFunLight.AspMvc.Models.Payment>

@{
    var filter = ViewBag.Filter as QTPayWithFunLight.AspMvc.Models.FilterModel ?? new QTPayWithFunLight.AspMvc.Models.FilterModel();

    ViewData["Title"] = "Index";
    
}
@*<img class="card-img-top" src="/img/payment.jpg" style="z-index: -1; position: absolute; top: -300px;" alt="Item image">*@
<h1>Payments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p class="">
  <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    @filter.ToString()
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    @await Html.PartialAsync("_Filter", filter)
  </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
